<a href='/'><h3>Home</h3></a>
<h2>Get the best deals for your budget</h2>
<form>
  <label for="amount">I want to spend: R</label>
  <input name="amount" type="number" step="0.01">
  <input type="submit" value="find my deals">
</form>

{{#if deals}}
<h2>You can get any of these deals for R{{amount}}</h2>
<ul>
  {{#each deals}}
  <li>{{qty}} for R{{price}} at {{name}}</li>
    <ul>
      <li>R{{unit_price}} per avocado</li>
    </ul>
  {{/each}}
</ul>
{{/if}}